.Cards {
    display: flex;
    justify-content: space-around;
    width: 80%;
    flex-wrap: wrap;
    border: 1px solid gray;
    padding: 15px;
    position: relative;
    background-color: #fff;

    img {
        max-width: 200px;
        height: 150px;
    }

    .image {
        text-align: center;
    }
}


.Card {
    max-width: 330px;
}

.name {
    margin: 0;
}

.buttons {
    display: flex;
    justify-content: space-around
}

.price {
    padding: 10px 0;
}

.buttonBasket {
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 10px 30px;
    background-color: transparent;
    cursor: pointer;
}

.buttonCompare {
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 10px 30px;
    background-color: transparent;
    cursor: pointer;
}